
<main class="pt-20">
  <div class="container px-6 mx-auto h-full">
    <div class="h-full w-full flex items-center justify-center">
      <div class="w-96">
        <a href="/" class="block w-56 mx-auto mb-16">
          {% include logo.html %}
        </a>
        <div class="mb-8">
          {% include components/title.html content="Enter new password" %}
          {% include components/subtitle.html content="Create your new password for loggin into Nomadix Cloud" %}
        </div>
        <div class="space-y-6">
          <form action="/authentication/two-factor-auth">
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3">
                <label for="newPassword" class="block text-sm font-medium mb-1">New Password</label>
                <input autofocus type="password" name="password" id="newPassword" autocomplete="new-password" class="input">
                <div id="strengthMeter" class="grid grid-cols-4 gap-2 mt-1 py-2">
                  <div class="h-1 bg-slate-300 dark:bg-slate-600 rounded-lg"></div>
                  <div class="h-1 bg-slate-300 dark:bg-slate-600 rounded-lg"></div>
                  <div class="h-1 bg-slate-300 dark:bg-slate-600 rounded-lg"></div>
                  <div class="h-1 bg-slate-300 dark:bg-slate-600 rounded-lg"></div>
                </div>
                <div>
                  <p id="passwordHint" class="text-xs font-medium">No password entered.</p>
                </div>
              </div>
              <div class="col-span-3">
                <button type="submit" class="button shadow-lg button-primary w-full inline-flex justify-center focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"><svg class="hidden animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg> Confirm New Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  const meter = Array.from(document.querySelectorAll('#strengthMeter > *'));
  const passwordHint = document.getElementById('passwordHint');

  // Conditions
  const minLength = 6;
  const specialChar = new RegExp('[!@#$%&*()_+=|<>?{}\\[\\]~-]');
  const uppercaseLetter = new RegExp('[A-Z]');
  const numberChar = new RegExp('[\\d]');

  // Score styling
  const veryStrongBg = '!bg-green-500';
  const strongBg = '!bg-yellow-500';
  const fairBg = '!bg-orange-500';
  const weakBg = '!bg-red-500';

  const veryStrongColor = 'text-green-600';
  const strongColor = 'text-yellow-600';
  const fairColor = 'text-orange-600';
  const weakColor = 'text-red-600';

  document.addEventListener('input', function (e) {
    const password = e.target.value;

    let isMinLength = password.length >= minLength;
    let hasSpecialChar = specialChar.test(password);
    let hasUppercaseLetter = uppercaseLetter.test(password);
    let hasNumberChar = numberChar.test(password);

    let score = isMinLength ? +isMinLength + +hasSpecialChar + +hasUppercaseLetter + +hasNumberChar : 0;

    passwordHint.innerText = '';
    passwordHint.classList.remove(veryStrongColor, strongColor, fairColor, weakColor);

    meter.map((item) => {
      item.classList.remove(veryStrongBg, strongBg, fairBg, weakBg);
    })

    meter.slice(0, score || 1).map((item) => {
      switch (score) {
        case 2:
          item.classList.add(fairBg);
          passwordHint.classList.add(fairColor);
          passwordHint.innerText = 'This password is somewhat stronger but should be improved.'
          break;
        case 3:
          item.classList.add(strongBg);
          passwordHint.classList.add(strongColor);
          passwordHint.innerText = 'This is a strong password.'
          break;
        case 4:
          item.classList.add(veryStrongBg);
          passwordHint.classList.add(veryStrongColor);
          passwordHint.innerText = 'This is a very strong password.'
          break;
        default:
          item.classList.add(weakBg);
          passwordHint.classList.add(weakColor);
          passwordHint.innerText = 'This password is weak. Make it longer and add special characters.'
          break;
      }
    });
  })
</script>
