@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './components/breadcrumb/breadcrumb.scss';
@import './components/dropdown/dropdown.scss';
@import './components/header/header.scss';
@import './components/main-search/main-search.scss';
@import './components/profile-icon/profile-icon.scss';
@import './components/logo/logo.scss';
@import './components/button/button.scss';
@import './components/sidenav/sidenav.scss';
@import './components/grid/grid.scss';
@import './components/card/card.scss';
@import './components/title-cta/title-cta.scss';
@import './components/filter/filter.scss';
@import './components/alert/alert.scss';

@layer components {

  [multiple] {
    @apply p-0 border-0 shadow-sm;
  }
  
  table {
    @apply w-full text-left whitespace-nowrap;
  }

  th,td {
    @apply p-2.5;
  }

  th:first-child {
    @apply rounded-l-lg;
  }

  th:last-child {
    @apply rounded-r-lg;
  }

  td:first-child {
    @apply rounded-l-lg;
  }

  td:last-child {
    @apply rounded-r-lg;
  }

  thead tr {
    @apply bg-slate-200 dark:bg-dark-1 dark:text-white;
  }


  tbody .clickable-row {
    @apply hover:bg-slate-100 dark:hover:bg-gray-900/[0.5] cursor-pointer;
  }

  .cell-w-btn {
    @apply p-0;
  }
  
  .table-action-btn {
    @apply inline-flex cursor-pointer font-medium hover:bg-accent-15 hover:dark:bg-primary-light p-1.5 rounded-md w-fit;
  }

  .pagination-wrapper {
    @apply flex flex-col md:flex-row items-center justify-between mt-7 gap-2;
  }

  .select-wrapper {
    @apply flex gap-2 justify-between w-full items-center;
  }

  form {
    @apply flex flex-col gap-4;
  }

  form .heading {
    @apply pb-4 mb-4 border border-solid border-t-0 border-r-0 border-l-0 border-gray-200 dark:border-gray-300/[.20];
  }

  form .heading .title {
    @apply text-2xl font-medium;
  }

  form .heading .subtitle {
    @apply text-sm font-normal;
  }

  form .cols-2 {
    @apply grid grid-cols-2 w-full gap-4;
  }

  form .cols-3 {
    @apply grid grid-cols-3 w-full gap-4;
  }

  form .cols-4 {
    @apply grid grid-cols-4 w-full gap-4;
  }

  form .radio-group {
    @apply flex flex-col gap-2;
  }

  .select {
    @apply rounded border-gray-300 text-sm shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-fit dark:bg-dark-1 dark:border-gray-700;
  }

  .pagination {
    @apply flex cursor-pointer items-center gap-1;
  }

  .pagination-item {
    @apply hover:bg-slate-100 dark:hover:bg-dark-1 font-normal rounded-full leading-none px-2 py-1;
  }

  .pagination-item-active {
    @apply font-bold bg-accent hover:bg-accent text-white;
  }

  .label {
    @apply text-sm;
  }

  .input {
    @apply rounded border-gray-300 text-sm shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-dark-1 dark:border-gray-700;
  }
  
  .icon-fill {
    @apply fill-primary-light dark:fill-white dark:opacity-80;
  }

  .fill-button-icon {
    @apply fill-dark-3;
  }

  .outline-button-icon {
    @apply fill-dark-3 dark:fill-gray-200;
  }
}

html {
  image-rendering: -webkit-optimize-contrast;
}

img {
  height: 100%;
}

svg {
  margin: 0 auto;
}
